/* Style for the navbar */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Make sure navbar stays on top */
}

body {
    font-family: 'Roboto', sans-serif;
    background: white;
    margin: 0;
    padding-top: 80px; /* Adjust the space between the navbar and the content */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.form-container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #f06;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #d05;
}

p {
    margin-top: 20px;
}

p a {
    color: #f06;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
