<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tour Booking</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" >
	 <link href="../static/fonts/css/fontawesome.min.css" rel="stylesheet" >
	<link href="../static/fonts/css/brands.min.css" rel="stylesheet" />
    <link href="../static/fonts/css/solid.min.css" rel="stylesheet" />
	<link href="../static/css/global.css" rel="stylesheet">
	<link href="../static/css/destination.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="../static/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<section id="top" class="bg_black pt-2 pb-2">
 <div class="container-xl">
  <div class="row top_1">
   <div class="col-md-3">
     <div class="top_1l">
	   <span class="d-inline-block col_green fs-1 lh-1 me-1"><i class="fa fa-location-arrow"></i></span>
	   <h6 class="mb-0 text-white d-inline-block fw-bold font_14">Email: <br>
<a class="col_green a_tag1 fs-6" href="#">info@gmail.com</a></h6>
	 </div>
   </div>
   <div class="col-md-6">
     <div class="top_1m text-center">
	   <p class="mb-0 text-light">Sẽ giảm giá 50% cho chuyến đi có sinh nhật khách hàng!  <a class="col_green a_tag1" href="#">Book Your Tour</a></p>
	 </div>
   </div>
   <div class="col-md-3">
     <div class="top_1r text-end">
      <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		<li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
	  </ul>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="header">
	<nav class="navbar navbar-expand-md navbar-light px_4" id="navbar_sticky">
	  <div class="container-fluid">
		<a class="navbar-brand  p-0 fw-bold" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Tour <span class="col_yellow"> Đặt ngay</span> </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		   <ul class="navbar-nav mb-0 ms-auto nav_1">
			
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="index.html">Trang chủ</a>
			  </li>
			   
			  <li class="nav-item">
				<a class="nav-link" href="about.html">Giới thiệu </a>
			  </li>
			  
			  <li class="nav-item">
				<a class="nav-link" href="tour.html"> Tour</a>
			  </li>
			
			<li class="nav-item">
				<a class="nav-link active" href="destination.html"> Điểm đến </a>
			</li>
			
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Blog
			  </a>
			  <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="blog.html"> Blog</a></li>
				<li><a class="dropdown-item border-0" href="blog_detail.html"> Blog chi tiết</a></li>
			  </ul>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Cộng đồng
				</a>
				<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				  <li><a class="dropdown-item" href="gallery.html"> Thư viện ảnh</a></li>
				  <li><a class="dropdown-item border-0" href="faq.html"> Câu hỏi thường gặp</a></li>
				</ul>
			  </li>
				  
			  <li class="nav-item">
				<a class="nav-link" href="contact.html">Liên hệ</a>
			  </li>
			</ul>
			<ul class="navbar-nav mb-0 ms-auto nav_2">
			  <li class="nav-item">
				<a class="nav-link fs-4" href="login.html"><i class="fa fa-user"></i></a>
			  </li>
				  
			  <li class="nav-item">
				<a class="nav-link fs-4 drop_icon col_green" href="#"><i class="fa fa-phone"></i></a>
			  </li>
			  
			  <li class="mb-0  d-inline-block fw-bold font_14 nav-item">Để biết thêm thông tin<br>
	  <a class="col_green a_tag1 fs-5" href="#">+(000) 345 67 89</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	</section>

<section id="center" class="center_destination">
	<div class="center_om bg_back">
	  <div class="container-xl">
   <div class="row center_o1 text-center">
	  <div class="col-md-12">
		 <h1 class="text-white font_50"> Điểm đến</h1>
		 <h6 class="col_green mb-0 mt-3 fw-bold"><a class="text-light" href="index.html"> Trang chủ</a> <span class="mx-2 text-white-50"><i class="fa fa-arrow-right"></i></span> Điểm đến</h6>
	  </div>
   </div>
  </div>
	</div>   
  </section>

<section id="dest_dt" class="p_3">
 <div class="container-xl">
   <div class="dest_dt1 row">
     <div class="col-md-8">
	   <div class="dest_dt1l">
	     <div class="dest_dt1l1">
		   <h1>Hội An</h1>
		   <p class="mt-3">Hội An là một đô thị cổ nằm ở hạ lưu sông Thu Bồn, thuộc vùng đồng bằng ven biển tỉnh Quảng Nam, Việt Nam. Đô thị cổ Hội An ngày nay là một điển hình đặc biệt về cảng thị truyền thống ở Đông Nam Á được bảo tồn nguyên vẹn và chu đáo. Phần lớn những ngôi nhà ở đây là những kiến trúc truyền thống có niên đại từ thế kỷ 17 đến thế kỷ 19, phân bố dọc theo những trục phố nhỏ hẹp. Nằm xen kẽ giữa các ngôi nhà phố, những công trình kiến trúc tôn giáo, tín ngưỡng minh chứng cho quá trình hình thành, phát triển và cả suy tàn của đô thị. Các hội quán, đền miếu mang dấu tích của người Hoa nằm bên những ngôi nhà phố truyền thống của người Việt và những ngôi nhà mang phong cách kiến trúc Pháp.  Cuộc sống thường nhật của cư dân phố cổ với những phong tục tập quán, sinh hoạt tín ngưỡng, nghệ thuật dân gian, lễ hội văn hóa vẫn đang được bảo tồn và phát triển. Hội An được xem như một bảo tàng sống về kiến trúc và lối sống đô thị.</p>
		   <div class="dest_dt1l1i row">
		     <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/11.png" class="w-100" alt="abc" width="220" height="200"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/111.png" class="w-100" alt="abc" width="220" height="200"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/112.png" class="w-100" alt="abc" width="220" height="200"></a>
				  </figure>
			  </div>
			 </div>
		   </div>
		   <div class="dest_dt1l1i row mt-2">
		     <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/113.png" class="w-100" alt="abc" width="220" height="200"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/114.png" class="w-100" alt="abc" width="220" height="200"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-4 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/115.png" class="w-100" alt="abc" width="220" height="200"></a>
				  </figure>
			  </div>
			 </div>
		   </div>
		   <h1 class="mt-4">Phố cổ Hội An</h1>
		   <p class="mt-3">Những cảnh đẹp thơ mộng và huyền bí được thắp lên nhờ vào ánh nến từ những chiếc lồng đèn kiểu Trung Hoa hoặc lồng đèn hình quả nhót được trang trí với những tơ lụa trước hiên nhà. Chính những chiếc đèn trang trí hòa quyện cùng với sắc vàng nổi bật của Hội An đã đem đến cho nó một vẻ đẹp lung linh mà thơ mộng biết bao.</p>
		 </div>
		 <div class="dest_dt1l2">
		   <div class="dest_dt1l2i row">
		    <div class="col-md-6">
			  <div class="dest_dt1l2il">
			    <ul class="mb-0 flex_box fw-bold">
<li class="d-flex"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Thả đèn hoa đăng.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Đi dạo phố cổ về đêm.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Đi thuyền trên sông Hoài.</li>
</ul>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="dest_dt1l2il">
			    <ul class="mb-0 flex_box fw-bold">
<li class="d-flex"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> May đồ thời trang lấy ngay.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Các trò chơi nhân gian.</li>
<li class="d-flex mt-3"><span><i class="fa fa-circle col_green me-2 font_10 align-middle"></i></span> Mua đèn lồng.</li>
</ul>
			  </div>
			</div>
		 </div>
		   <div class="dest_dt1l1i row mt-4">
		     <div class="col-md-6 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/19.png" class="w-100" alt="abc" width="320" height="250"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-6 pe-0">
			   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="../static/img/20.png" class="w-100" alt="abc" width="320" height="250"></a>
				  </figure>
			  </div>
			 </div>
		   </div>
		 </div>
	   </div>
	 </div>
	 <div class="col-md-4">
	   <div class="dest_dt1r">
	      <div class="dest_dt1r1 border_1 p-4 rounded_1">
			<div class="form-container">
				<h2>Đặt Tour Du Lịch</h2>
				<form action="/submit" method="post">
					<div class="form-group">
						<label for="name">Tên của bạn</label>
						<input type="text" id="name" name="name" required>
					</div>
					<div class="form-group">
						<label for="email">Email của bạn</label>
						<input type="email" id="email" name="email" required>
					</div>
					<div class="form-group">
						<label for="phone">Số điện thoại của bạn</label>
						<input type="text" id="phone" name="phone" required>
					</div>
					<div class="form-group">
						<label for="type">Kiểu</label>
						<select id="type" name="type">
							<option value="gia-dinh">Gia đình</option>
							<option value="ban-be">Bạn bè</option>
							<option value="ca-nhan">Cá nhân</option>
						</select>
					</div>
					<div class="form-group">
						<label for="date">Ngày đi</label>
						<input type="date" id="date" name="date" required>
					</div>
					<div class="form-group">
						<label for="tickets">Số lượng vé</label>
						<input type="number" id="tickets" name="tickets" required>
					</div>
					<div class="form-group">
						<button type="submit">ĐẶT NGAY</button>
					</div>
				</form>
			</div>
	   </div>
	   <div class="tour_1l1 p-4 rounded_1 border_1 mt-4">
        <div class="offer_1l position-relative">
	    <div class="offer_1li">
	      <div class="grid clearfix">
			<figure class="effect-jazz mb-0">
			<a href="#"><img src="../static/img/41.png" height="210" width="300" class="w-100" alt="img25"></a>
			</figure>
			</div>
	  </div>
	  <div class="offer_1li1 position-absolute p-4 px-3 bottom-0 w-100 text-center">
	      <h5 class="family_1 text-white">Tour trăng mật</h5>
		  <h4 class="text-white">Giảm đến<span class="col_yellow fs-2">40%</span></h4>
		  <h6 class="text-white">3 ngày 2 đêm</h6>
		  <h6 class="mb-0 mt-3"><a class="button_1" href="tour.html">Xem các gói</a></h6>
	  </div>
	  </div>
	 </div>
	   </div>
	 </div>
   </div>
   <div class="dest_dt2 row mt-4">
    <div class="col-md-12">
	  <h2>Vị trí</h2>
	</div>
   </div>
   <div class="tour_dt1 row p-2 mx-0 shadow_box rounded_1 px-0 mt-3">
     <div class="col-md-6">
	   <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li  tour_dt1lm">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="../static/img/45.png" widht="500" height="500"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-eye"></i></a></span>
		 </div>
	   </div>
	 </div>
	 <div class="col-md-6">
	   <div class="tour_dt1r">
	      <div class="tour_dt1ri row">
		    <div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="../static/img/46.png" widht="250" height="265"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-eye"></i></a></span>
		 </div>
	   </div>
			</div>
			<div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="../static/img/47.png" widht="250" height="265"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-eye"></i></a></span>
		 </div>
	   </div>
			</div>
		  </div>
		  <div class="tour_dt1ri1 row mt-2">
		    <div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="../static/img/48.png" widht="250" height="267"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-3"><a class="col_yellow" href="#"><i class="fa fa-plus"></i></a></span>
		  <h6 class="mb-0"><a class="text-white a_tag1" href="#">Xem các ảnh</a></h6>
		 </div>
	   </div>
			</div>
			<div class="col-md-6 ps-0">
			  <div class="tour_dt1l position-relative rounded_1">
	     <div class="tour_dt1li">
		   <a href="#"><img alt="abc" class="w-100 rounded_1" src="../static/img/49.png" widht="250" height="267"></a>
		 </div>
		 <div class="tour_dt1li1 position-absolute bg_back top-0 w-100 h-100 text-center rounded_1">
		  <span class="d-inline-block fs-2"><a class="col_yellow" href="#"><i class="fa fa-play-circle"></i></a></span>
		  <h6 class="mb-0"><a class="text-white a_tag1" href="#">Xem Video</a></h6>
		 </div>
	   </div>
			</div>
		  </div>
	   </div>
	 </div>
   </div>
   <div class="dest_dt2 row mt-4">
    <div class="col-md-12">
	  <h1>Các gói đề xuất</h1>
	</div>
   </div>
   <div class="profile6i row mt-3">
	  <div class="col-md-4">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="../static/img/17.png" alt="abc" class="w-100 rounded_1" width="300" height="250"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 1 TUẦN</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> Vũng Tàu</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Thiên đường biển gọi mời.</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">Biển xanh</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">Cát trắng</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">Hoàng hôn</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Giảm còn:<br>
<span class="fw-bold"><span class="fs-4 col_green">2.350.000Đ</span> <span class="text-decoration-line-through text-muted">3.580.000Đ</span></span><br>
<span class="font_12">Bao gồm thuế/phí</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-3" href="#">Đặt ngay <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="../static/img/18.png" alt="abc" class="w-100 rounded_1" width="300" height="250"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 2 NGÀY / 3 ĐÊM</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> Phú Quốc</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Thiên đường nghỉ dưỡng</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">Biển đẹp</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">Đảo ngọc</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">Thiên nhiên tuyệt vời</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Giảm còn:<br>
<span class="fw-bold"><span class="fs-4 col_green">3.180.000Đ</span> <span class="text-decoration-line-through text-muted">5.370.000Đ</span></span><br>
<span class="font_12">Bao gồm thuế/phí</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-3" href="#">Đặt ngay <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	  <div class="col-md-4">
	    <div class="profile6il p-3 shadow_box rounded_1">
		  <div class="profile6il1 position-relative">
		   <div class="profile6il1i">
		     <a href="#"><img src="../static/img/191.png" alt="abc" class="w-100 rounded_1" width="300" height="250"></a>
		</div>
		   <div class="profile6il1i1 position-absolute top-0">
		    <h6 class="d-inline-block bg-black text-white p-2 px-3 font_14 mb-0"> 3 NGÀY / 4 ĐÊM</h6><br>
			 <h6 class="d-inline-block bg_light p-2 px-3 font_14  mb-0"><a href="#"><i class="fa fa-map-marker me-1 col_green"></i> Đà Nẵng</a></h6>
		</div>
		</div>
		<div class="profile6il2 mt-3">
		  <h5><a href="#">Nơi trở thành kỉ niệm khó quên.</a></h5>
		  <ul class="font_12">
		   <li class="d-inline-block me-1"><a href="#">Hấp dẫn</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">Độc đáo</a></li>
		    <li class="d-inline-block me-1"><i class="fa fa-arrow-right"></i></li>
		   <li class="d-inline-block me-1"><a href="#">Lưu niệm</a></li>
		  </ul>
		  <hr>
		  <div class="profile6il2i row">
		    <div class="col-md-6">
			  <div class="profile6il2il">
			    <h6 class="font_14 mb-0">Giảm còn:<br>
<span class="fw-bold"><span class="fs-4 col_green">5.100.000Đ</span> <span class="text-decoration-line-through text-muted">6.900.000Đ</span></span><br>
<span class="font_12">Bao gồm thuế/phí</span></h6>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="profile6il2ir text-end pt-2">
			    <h6 class="mb-0"><a class="button px-3" href="#">Đặt ngay <i class="fa fa-plane"></i></a></h6>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	  </div>
	</div>
 </div>
</section>

<div class="main_footer position-relative">
	<div class="main_footer1 position-absolute w-100">
	  <section id="join" class="p_3">
   <div class="container-xl">
	<div class="row join_1 shadow_box pt-5 pb-5 mx-0 bg-white">
	  <div class="col-md-3">
		<div class="join_1l">
		 <img src="../static/img/44.jpg" class="w-100" alt="abc">
		</div>
	  </div>
	  <div class="col-md-6">
		<div class="join_1m text-center">
		   <h1>Tham gia</h1>
		   <p>Để nhận các ưu đãi tốt nhất </p>
		   <div class="input-group">
				  <input type="text" class="form-control rounded-0 font_14" placeholder="Email của bạn...">
				  <span class="input-group-btn">
					  <button class="btn btn-primary bg_green rounded-0 p-3 px-4  border-0" type="button">
						  <i class="fa fa-arrow-right"></i> </button>
				  </span>
		  </div>
		</div>
	  </div>
	  <div class="col-md-3">
		<div class="join_1l">
		  <img src="../static/img/44.jpg" class="w-100" alt="abc">
		</div>
	  </div>
	</div>
   </div>
  </section>
	</div>
	<div class="main_footer2">
	  <section id="footer" class="p_3 bg_black">
   <div class="container-xl">
	<div class="row footer_1">
	  <div class="col-md-3">
		<div class="footer_1l">
		  <h3 class="mb-3"><a class="text-white" href="index.html"><i class="fa fa-plane-arrival col_green"></i> Đặt <span class="col_yellow">Tour</span> </a></h3>
		  <h2 class="text-light">Bạn muốn tham khảo các gói tour?</h2>
		  <h6 class="mb-0 mt-4"><a class="button" href="#">Đặt tour</a></h6>
		</div>
	  </div>
	  <div class="col-md-3">
		<div class="footer_1l">
		  <h5 class="text-white mt-1 mb-3">Liên kết</h5>
		  <div class="row footer_3ism">
		   <h6 class="col-md-12 col-6"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Giới thiệu</a></h6>
	   <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Điểm đến</a></h6>
	   <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Các gói tour</a></h6>
	   <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Quyền riêng tư</a></h6>
	   <h6 class="col-md-12 col-6 mt-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Bài viết</a></h6>
	   <h6 class="col-md-12 col-6 mt-2 mb-0"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#"> Liên hệ</a></h6>
		  </div>
		</div>
	  </div>
	  <div class="col-md-3">
		<div class="footer_1l">
		  <h5 class="text-white mt-1 mb-3"><i class="fa fa-phone col_yellow me-1"></i> Số điện thoại</h5>
		  <h6><a class="text-white-50 a_tag1" href="#">+999-888 123 456</a></h6>
		  <h5 class="text-white mt-4 mb-3"><i class="fa fa-location-arrow col_yellow me-1"></i> EMail</h5>
		  <h6><a class="text-white-50 a_tag1" href="#">info@gmail.com</a></h6>
		  <h5 class="text-white mt-4 mb-3"><i class="fa fa-map-marker col_yellow me-1"></i> Địa chỉ</h5>
		  <p class="mb-0"><a class="text-white-50 a_tag1" href="#">House 128/140, Road 01, India - See Map 1 km to city center</a></p>
		</div>
	  </div>
	  <div class="col-md-3">
		<div class="footer_1l top_1r">
		  <h5 class="text-white mt-1 mb-3">Lời cam kết</h5>
		  <p class="text-white-50">
			Chúng tôi cam kết mọi thông tin, hình ảnh sẽ được cung cấp
			một cách trung thực, chính xác, mang đến trải nghiệm độc đáo
			mà chúng tôi mang lại.
		  </p>
		  <h5 class="text-white mt-4 mb-3"> Social Partner</h5>
		   <ul class="mb-0">
		  <li class="d-inline-block"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-facebook"></i></a></li>
		  <li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-twitter"></i></a></li>
		  <li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-pinterest"></i></a></li>
		  <li class="d-inline-block ms-2"><a class="d-block text-center rounded-circle" href="#"><i class="fa-brands fa-instagram"></i></a></li>
		</ul>
		</div>
	  </div>
	</div><hr class="line_1">
	<div class="row footer_2">
	  <div class="col-md-8">
		<div class="footer_2l">
		  <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_green fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
		</div>
	  </div>
  <div class="col-md-4">
		<div class="footer_2r text-end">
		  <ul class="mb-0">
			  <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Privacy Policy</a></li>
			  <li class="d-inline-block ms-2"><i class="fa fa-circle col_green me-1 font_8 align-middle"></i> <a class="text-white-50 a_tag" href="#">Terms & Condition</a></li>
			</ul>
		</div>
	  </div>
	</div>
   </div>
  </section>
	</div>
  </div>
  
  <script src="../static/js/common.js"></script>
  
  </body>
  
  
  </html>